/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
/* github.com/csstools/sanitize.css */
/* github.com/jensimmons/cssremedy */

/**
 * Add the correct system-ui font-family in Chrome, Edge, and Firefox.
 */

@font-face {
	font-family: ui-monospace;
	src: local(".AppleSystemUIFontMonospaced-Regular"), local("Segoe UI Mono"), local("UbuntuMono"), local("Roboto-Mono"), local("Menlo");
}

@font-face {
	font-family: ui-monospace;
	font-style: italic;
	src: local(".AppleSystemUIFontMonospaced-RegularItalic"), local("Segoe UI Mono Italic"), local("UbuntuMono-Italic"), local("Roboto-Mono-Italic"), local("Menlo-Italic");
}

@font-face {
	font-family: ui-monospace;
	font-weight: bold;
	src: local(".AppleSystemUIFontMonospaced-Bold"), local("Segoe UI Mono Bold"), local("UbuntuMono-Bold"), local("Roboto-Mono-Bold"), local("Menlo-Bold");
}

@font-face {
	font-family: ui-monospace;
	font-style: italic;
	font-weight: bold;
	src: local(".AppleSystemUIFontMonospaced-BoldItalic"), local("Segoe UI Mono Bold Italic"), local("UbuntuMono-BoldItalic"), local("Roboto-Mono-BoldItalic"), local("Menlo-BoldItalic");
}

* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
		padding: 0;
		margin: 0;
	}
}
  
// Box sizing
html {
	box-sizing: border-box;
	line-sizing: normal;
}
  
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

b,
strong {
	font-weight: bolder;
}
	
a {
	background-color: transparent;
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
		  text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		/* macOS 10.10+ */ "Menlo",
		/* Windows 6+ */ "Consolas",
		/* Android 4+ */ "Roboto Mono",
		/* Ubuntu 10.10+ */ "Ubuntu Monospace",
		/* KDE Plasma 5+ */ "Noto Mono",
		/* KDE Plasma 4+ */ "Oxygen Mono",
		/* Linux/OpenOffice fallback */ "Liberation Mono",
		/* fallback */ monospace,
		/* macOS emoji */ "Apple Color Emoji",
		/* Windows emoji */ "Segoe UI Emoji",
		/* Windows emoji */ "Segoe UI Symbol",
		/* Linux emoji */ "Noto Color Emoji";
}

pre {
	white-space: pre-wrap;
}

hr {
	box-sizing: content-box;
	border-style: solid;
	border-width: 1px 0 0;
	color: inherit;
	height: 0;
	overflow: visible;
}

// List
nav :where(ul, ol) {
	list-style: none;
}
	
nav li:before {
	content: "\200B";
	position: absolute;
}

// Form
button,
input,
select {
	margin: 0;
}

// Media
img,
svg,
video,
canvas,
iframe,
audio,
embed,
object,
input,
select,
textarea {
	max-width: 100%;
}

img,
svg,
video,
canvas,
iframe,
input,
select,
textarea {
	height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}

picture {
	display: contents;
}

source {
	display: none;
}

svg:not(:root) {
	overflow: hidden;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
}

// Iframe
iframe {
	border: 0;
}

// Table
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-indent: 0;
	border-color: inherit;
}

td,
th {
	padding: 0;
}

details {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

.avatar {
	position: relative; 
}

.avatar-border {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	border-radius: 50%;
	opacity: 0.1;
}
